<div class="activeButton">power_info_button</div>

<script type="text/javascript">
	$(function() {
		$("#dataset").hide().visualize({width:650, height:400}).attr("style", "margin-left:50px; margin-bottom:75px");
	});
</script>
<div style="width:700px; height: 400px; margin-left:10px;margin-top:25px;margin-bottom:80px;">
<table id="dataset">
	<caption>
		Hourly breakdown for <%= @assoc_meter.name %>
	</caption>
	<tr><td></td>
		
<% @data_points.each do |d_point| %>
		<th><%= d_point.created_at %></td>
<% end %>
	</tr>
	<tr>
	<th> <%= @data_set.name %> </th>
<% @data_points.each do |d_point| %>
	<td> <%= d_point.amount %> </td>
<% end %>
</table>
</div>