<script type="text/javascript">
	$(function(){
		$("#resp").load("/meters/refresh/1 #retMessage");
	});
</script>

<div id="resp"><h1>Updating Meters...</h1><img src="/images/ajax_loader.gif"></div>

