<h1>Help Section</h1>

<p> Power graphs can be found at the <a href="/power_info">Power Info</a> link above. If you wish to find out more information about the project itself, visit the <a href="/about_us">About Us</a> page.</p>
