<h1>Listing buildings</h1>

<table>
  <tr>
  </tr>

<% @buildings.each do |building| %>
  <tr>
    <td><%= link_to 'Show', building %></td>
    <td><%= link_to 'Edit', edit_building_path(building) %></td>
    <td><%= link_to 'Destroy', building, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New building', new_building_path %>