<p>
  <b>Id:</b>
  <%=h @building_type.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @building_type.name %>
</p>


<%= link_to 'Edit', edit_building_type_path(@building_type) %> |
<%= link_to 'Back', building_types_path %>