<script type="text/javascript">
	$(function() {
		$("#building-tabs").tabs();
	});
</script>
<div id="building-tabs" style="background-color:#9BD;">
	<ul >
		<li><a href="#bldg-1" class="tab-button">Rodgers</a></li>
		<li><a href="#bldg-2" class="tab-button">Dearborn</a></li>
		<li><a href="#bldg-3" class="tab-button">Wilson</a></li>
		<li><a href="#bldg-4" class="tab-button">Bexell</a></li>
	</ul>
	<div id="bldg-1" class="tab-div">
		<p class="graph-header">Power Statistics for <span class="building-name">Rodgers</span> hall:</p>
		<div id="bldg-1-flot" class="flot-div"></div>
	</div>
	<div id="bldg-2" class="tab-div">
		<p class="graph-header">Power Statistics for <span class="building-name">Dearborn</span> hall:</p>
		<div id="bldg-2-flot" class="flot-div"></div>
	</div>
	<div id="bldg-3" class="tab-div">
		<p class="graph-header">Power Statistics for <span class="building-name">Wilson</span> hall:</p>
		<div id="bldg-3-flot" class="flot-div"></div>
	</div>
	<div id="bldg-4" class="tab-div">
		<p class="graph-header">Power Statistics for <span class="building-name">Bexell</span> hall:</p>
		<div id="bldg-4-flot" class="flot-div"></div>
	</div>
</div>