<div class="activeButton">home_screen_button</div>

<h1>Welcome!</h1>

This website is designed to display the energy consumption data of buildings on the Oregon State University campus.

To view graphs of power consumption, click on the Power Info link to the left.  This will take you to a page where you can choose the building and power set to graph.

The Help section will at some point have a FAQ and troubleshooting guide.

The About Us section describes the project and the team that built the site, Team Gentlemen.

The Admin section is not for regular users, and will be edited to only be accessible by admins.  This is where you can add extra buildings and meters to be monitored.