<div class="activeButton">about_us_button</div>

<h1>About Us</h1>

An integral part of the Oregon State University Computer Science major is the Senior Capstone Project (CS461/462/463). This three-term project is the culmination of all that students have learned in the four years of the major.

<h3>About the Project</h3>
 
A paper published in the International Journal of Sustainability in Higher Education demonstrates how technology can positively impact a campus' energy usage. The Oregon State University Sustainability Office wishes to use technology to raise awareness of energy uses to campus residents. This project uses remote sensing technology attached to standard power meters to measure real-time energy consumption data. The data is displayed on this website every fifteen minutes, allowing users to observe the energy usage of specific buildings on campus. In theory, this awareness of energy usage will motivate campus residents to conserve energy.