<h3>About Us</h3>

An integral part of the Oregon State University Computer Science major is the Senior Capstone Project (CS461/462/463). This three-term project is the culmination of all that students have learned in the four years of the major. The OSU Energy Dashboard was one of these projects completed during the 2009-2010 school year.

<h3>The Team</h3>

The student project team consisted of Sarah Clisby, Trevor Chapman, Richard Tracy and Max Geiszler. The project was managed by Greg Smith of the <a href="http://oregonstate.edu/sustainability">Sustainability Offices</a> and Carl Moen and Michael Koch of the <a href="http://eec.engr.oregonstate.edu/">OSU Energy Efficiency Center</a>.

<!-- TEAM PHOTO HERE -->

<h3>The Project</h3>

A paper published in the International Journal of Sustainability in Higher Education [1] demonstrates that technology can positively impact a campus' energy usage. The Sustainability Office and OSU Energy Efficiency Center wish to use technology to raise awareness of energy uses to campus residents. This project uses remote sensing technology attached to standard power meters to measure real-time energy consumption data. The data is displayed on this website and updated every fifteen minutes, allowing users to observe the energy usage of specific buildings on campus. In theory, this awareness of energy usage will motivate campus residents to conserve energy.

<h3>The Software</h3>

The Energy Dashboard is free and open source, and as such, can be found at GitHub [2]. This software is licensed under a GPL license, and offered as is without any support.

Additionally, the plan is to further develop the software. For more on this, please check out the GitHub site or see updates at Open Pario [3].

<h3>References & Links</h3>

<br>[1] J.E. Petersen, V. Shunturov, K. Janda, G. Platt, and K. Weinberger, “Dormitory residents reduce electricity consumption when exposed to real,” International Journal of Sustainability in Higher Education, vol. 8, 2007, pp. 16 - 33.
<br>[2] <a href="http://github.com/teamgentlemen/Energy-Dashboard-Project">http://github.com/teamgentlemen/Energy-Dashboard-Project</a>
<br>[3] <a href="http://openpario.mime.oregonstate.edu/projects/osudashboard">http://openpario.mime.oregonstate.edu/projects/osudashboard</a>